html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    /* background-color: lightblue; */
    font-family: 'Tinos', serif;
    font-size: 20px;
}

header{
    background-color: white;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 4px 15px 6px 15px;
    height: 43px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    width: 100%;
}

#headerNav{
    display: flex;
    align-items: center;
    font-size: 14.5px;
    font-weight: 700;
}

#headerNav img{
    margin-right: 25px;
}

#headerBtns{
    display: flex;
    align-items: center;
}

#headerBtns button{
    background-color: rgb(86, 123, 149);
    color: white;
    border: none;
    border: 1px solid rgb(59, 110, 146);
    border-radius: 3px;
    font-size: 11px;
    height: 32px;
    font-weight: bold;
    margin-left: 8px;
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1{
    font-family: 'Arbutus Slab', serif;
    font-size: 35px;
    font-style: italic;
    font-size: 1500;
    width: 600px;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#mainPic{
    width: 1200px;
}

#mainPic > figcaption{
    font-size: 17px;
    width: 900px;
    color: rgb(102, 102, 102);
    margin-top: 5px;
    line-height: 20px;
    margin-bottom: 40px;
}

#mainPic > figcaption > span{
    font-size: 15px;
    color: rgb(136, 136, 136);
}

#articleInfo{
    width: 600px;
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
}

.shareBtns{
    width: 240px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareBtns > a{
    background-color: rgb(238, 238, 238);
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dateSocial{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    /* border: 1px solid; */
    margin-top: 15px;
}

#author > p{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#commentQty{
    font-size: 12px;
    border: 1px solid;
    padding: 6px 8px;
    margin-top: 0px;
    border-radius: 5px;
}

article{
    width: 600px;
    display:flex;
    flex-flow: column;
    align-items: center;
}

article > p{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
    width: 100%;
}

#unlock{
    font-size: 15px;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
    padding: 20px 0;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bolder;
    line-height: 18px;
}

#unlock a{
    margin-top: 10px;
    color: rgb(50, 104, 145);
}

h2{
    font-weight: 700;
    align-self: flex-start;
    margin: 20px 0;
}

h3{
    font-family: 'Arbutus Slab', serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

#inflation{
    width: 1000px;
    height: auto;
    margin-bottom: 50px;
}

#inflation>p{
    font-size: 14px;
    line-height: 18px;
    color: rgb(102, 102, 102);
}

#inflationFig{
    font-family: 'Libre Franklin', sans-serif;
    line-height: 17px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    background-image: url("/img/inflation.png");
    background-size: 990px 500px;
    background-repeat: no-repeat;
}

#inflationFig > figure{
    width: 240px;
}

.inflationImg{
    width: 240px;
    height: 120px;
}

.inflationImg2{
    height: 110px;
}

#inflationFig > figure > figcaption{
    font-size: 11px;
    width: 100%;
    font-weight: 300;
    color: black;
    margin-bottom: 0;
}

#inflationFig > figure > figcaption > span{
    font-weight: 700;
    font-size: 10px;
    color: black;
}

#spacer{
    height: 20px;
    border-top:1px solid black;
    width: 50px;
    margin-top: 20px;
}

#inflation footer{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}

.video footer{
    width: 80%;
    font-size: 15px;
    color: rgb(102, 102, 102);
    margin-top: 5px;
}

.video{
    margin: 30px 0;
}

.video span{
    font-size: 13px;
    color: rgb(136, 136, 136);
}
.articleImg > *{
    width: 600px;
    color: rgb(102, 102, 102);
    font-size: 15px;
    line-height: 18px;
}

.articleImg{
    margin: 30px 0;
}
.articleImg figcaption{
    width: 95%;
}

.articleImg > figcaption > span{
    font-size: 13px;
    color:rgb(136, 136, 136);
}

article > footer > p{
    font-size: 12px;
    line-height: 16px;
    color: rgb(102, 102, 102);
    margin-bottom: 20px;
}

#commentSocial{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#commentSocial > button{
    font-size: 12px;
    line-height: 24px;
    color: white;
    background-color: rgb(86, 123, 149);
    border:none;
    border-radius: 3px;
    width: 330px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
}

#commentSocial > .shareBtns{
    width: 150px;
}

#moreArticles{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    width: 1200px;
    height: auto;
    column-gap: 20px;
    border: 1px solid red;
}

#moreArticles > div{
    border-top: 1px solid black;
    width: auto;
}

#popular{
    grid-row: span 2;
}

#relatedArticles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 10px;
    margin-bottom: 20px;
    /* row-gap: 40px; */
}


h4{
    grid-column: span 3;
    height: auto;
    font-family: 'Libre Franklin';
    font-size: 14px;
    font-weight: 700;
    padding: 20px 0;
}

.articleTitle{
    width: 272px;
    font-family: 'Arbutus Slab', serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.date{
    font-family: 'Libre Franklin';
    font-size: 11px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.articleBlock:nth-child(3){
    margin-bottom: 60px;
}

#popular > .articleTitle{
    width: auto;
    padding: 15px 0;
    border-top: 1px solid lightgray;
}

#editor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 10px;
    border: 2px solid goldenrod;
    height: 400px;
}

#navigationContainer{
    display: flex;
    border: solid;
    width: auto;
    flex-flow: column;
}

#footerNav{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#footerNav > div{
    border: 2px solid red;
    height: 200px;
}

#footerNav:first-child{
    grid-row: span 2;
}

#navigationContainer > img{
    border: solid;
    height: 50px;
    width: 300px;
}